name: Build Vue
on:
  push:
    branches:
      - master
jobs:
  build_vue:
    runs-on: ubuntu-latest
    name: Build Vue
    steps:
    - uses: actions/checkout@v2
    - id: Build-Vue
      uses: xRealNeon/VuePagesAction@1.0.0
      with:
        username: 'martonzoltan'
        reponame: 'eskuvo'
        token: ${{ secrets.TOKEN }}
      env:
        VUE_APP_CONNECTION_SAS: ${{ secrets.VUE_APP_CONNECTION_SAS }}
        VUE_APP_ADMIN_COMMAND: ${{ secrets.VUE_APP_ADMIN_COMMAND }}
